</head>
<body>
   <header><h1>Cryptobot2000</h1></header>
  
  <nav>
	Run full simulation for <strong>BTC</strong>: 
		<a href="/run-simulation?currency=BTC&amp;days=30" target="_blank">30 days</a> &middot; 
		<a href="/run-simulation?currency=BTC&amp;days=60" target="_blank">60 days</a> &middot; 
		<a href="/run-simulation?currency=BTC&amp;days=90" target="_blank">90 days</a> &middot; 
		<a href="/run-simulation?currency=BTC&amp;days=120" target="_blank">120 days</a> &middot; 
		<a href="/run-simulation?currency=BTC&amp;days=180" target="_blank">180 days</a> &middot; 
		<a href="/run-simulation?currency=BTC&amp;days=270" target="_blank">270 days</a> &middot; 
		<a href="/run-simulation?currency=BTC&amp;days=360" target="_blank">360 days</a>
	<br />
	Run full simulation for <strong>ETH</strong>: 
		<a href="/run-simulation?currency=ETH&amp;days=30" target="_blank">30 days</a> &middot; 
		<a href="/run-simulation?currency=ETH&amp;days=60" target="_blank">60 days</a> &middot; 
		<a href="/run-simulation?currency=ETH&amp;days=90" target="_blank">90 days</a> &middot; 
		<a href="/run-simulation?currency=ETH&amp;days=120" target="_blank">120 days</a> &middot; 
		<a href="/run-simulation?currency=ETH&amp;days=180" target="_blank">180 days</a> &middot; 
		<a href="/run-simulation?currency=ETH&amp;days=270" target="_blank">270 days</a> &middot; 
		<a href="/run-simulation?currency=ETH&amp;days=360" target="_blank">360 days</a>
	<br />
	Run full simulation for <strong>LTC</strong>: 
		<a href="/run-simulation?currency=LTC&amp;days=30" target="_blank">30 days</a> &middot; 
		<a href="/run-simulation?currency=LTC&amp;days=60" target="_blank">60 days</a> &middot; 
		<a href="/run-simulation?currency=LTC&amp;days=90" target="_blank">90 days</a> &middot; 
		<a href="/run-simulation?currency=LTC&amp;days=120" target="_blank">120 days</a> &middot; 
		<a href="/run-simulation?currency=LTC&amp;days=180" target="_blank">180 days</a> &middot; 
		<a href="/run-simulation?currency=LTC&amp;days=270" target="_blank">270 days</a> &middot; 
		<a href="/run-simulation?currency=LTC&amp;days=360" target="_blank">360 days</a>
	<br />
    <br />
	Sim Vars (ETH): 
	<a href="/sim-vars">Sim Vars (ETH)</a> &middot; 
	<a href="/sim-vars-results">Sim Vars Results (ETH)</a><br />
	<br />
	Live Result (ETH): 
		<a href="/live-result?bot_name=30_day_bot">30_day_bot</a> &middot; 
		<a href="/live-result?bot_name=60_day_bot">60_day_bot</a> &middot; 
		<a href="/live-result?bot_name=90_day_bot">90_day_bot</a> &middot;
		<a href="/live-result?bot_name=120_day_bot">120_day_bot</a> &middot;
		<a href="/live-result?bot_name=180_day_bot">180_day_bot</a> &middot;
		<a href="/live-result?bot_name=270_day_bot">270_day_bot</a> &middot;
		<a href="/live-result?bot_name=360_day_bot">360_day_bot</a>
</nav>

   <main>
