<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>coinbasebot</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="styles.css">	
</head>
<body>

	<h1>Live result</h1>

	<p><%- data %></p>

</body>
</html>
