<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Coinbasebot</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
	
 	<style>
 		body {
 			font-family: Menlo, monospace;
 			font-weight: 400;
 			font-size: 12px;
 		}
 		table {
 			border-collapse: collapse;
 			margin: 0 0 15px;
 		}
 		td, th {
 			padding: 5px;
 			border: 1px solid black;
 			text-align: center;
 		}
 		th {
 			background: #eee;
 		}
 		td a, th a {
 			text-decoration: none;
 		}
 		td a:hover, th a:hover {
 			text-decoration: underline;
 		}
 		td span {
 			font-size: 10px;
 		}
 	</style>
</head>
<body>

	<h1><%- currency %></h1>

	<p><%- data %></p>

	<% for (key in table_data) { %>
		key:  <%- key %><br />
		<table>
			<% for (key2 in table_data[key]) { %>
				<tr>
					<% table_data[key][key2].forEach(function(item2) { %>
						 <%- item2 %> 
					<% }); %>
				</tr>
			<% } %>	
		</table>
	<% } %>	

</body>
</html>
