<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>coinbasebot</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="styles.css">
 	
</head>
<body>

	<h1><%- currency %></h1>

	<p><%- data %></p>

	<% for (key in table_data) { %>
		key:  <%- key %><br />
		<table>
			<% for (key2 in table_data[key]) { %>
				<tr>
					<% table_data[key][key2].forEach(function(item2) { %>
						 <%- item2 %> 
					<% }); %>
				</tr>
			<% } %>	
		</table>
	<% } %>	

</body>
</html>
