body {
	font-family: Menlo, monospace;
	font-weight: 400;
	font-size: 12px;
	padding: 10px;
}
table {
	border-collapse: collapse;
	margin: 0 0 15px;
	width: 100%;
}
td, th {
	padding: 5px;
	border: 1px solid black;
	text-align: center;
	
}
td {
	color: white;
}
th {
	background: #eee;
}
td a {
	text-decoration: none;
	color: white;
}
td a:hover, th a:hover {
	text-decoration: underline;
}
td span {
	font-size: 9px;
	color: #aaa;
}
t2 {
	display: inline-block;
	margin-right: 20px;
}